.game{
	width: 800px;
	border: 2px #333 solid;
	margin: 20px auto;
}
.game .ll1{
	margin-bottom:20px;
}
.game .ll1 img{
	width: 120px;
}
.game .ll2{
	width: 800px;
	height: 500px;
}
.game .ll2 .box{
	position: relative;
	width: 200px;
	height: 125px;
	background-image: url(../img/tp-2.jpg);
	background-size: 800px 500px;
	float: left;
	box-sizing: border-box;
	border: 1px #eee solid;
}

.game .ll2 .box-1{background-position: 0px 0px;}
.game .ll2 .box-2{background-position: -200px 0px;}
.game .ll2 .box-3{background-position: -400px 0px;}
.game .ll2 .box-4{background-position: -600px 0px;}

.game .ll2 .box-5{background-position: 0px -125px;}
.game .ll2 .box-6{background-position: -200px -125px;}
.game .ll2 .box-7{background-position: -400px -125px;}
.game .ll2 .box-8{background-position: -600px -125px;}

.game .ll2 .box-9{background-position: 0px -250px;}
.game .ll2 .box-10{background-position: -200px -250px;}
.game .ll2 .box-11{background-position: -400px -250px;}
.game .ll2 .box-12{background-position: -600px -250px;}

.game .ll2 .box-13{background-position: 0px -375px;}
.game .ll2 .box-14{background-position: -200px -375px;}
.game .ll2 .box-15{background-position: -400px -375px;}
.game .ll2 .box-0{opacity: 0;}